<div id="custom-wrapper">
  <div id="gallery2">
    <div class="fade-area" "id="cu-image-1">
      <%= image_tag 'n-backwardjourney_cus.jpg' %>
    </div>
    <div class="fade-area" "id="cu-image-2" style="display: none;">
      <%= image_tag 'n-CirclesonCircles-Red_cus.jpg' %>
    </div>
    <div class="fade-area" "id="cu-image-3" style="display: none;">
      <%= image_tag 'n-camelrock_cus.jpg' %>
    </div>
    <div class="fade-area" "id="cu-image-4" style="display: none;">
      <%= image_tag 'n-darkwindow_cus.jpg' %>
    </div>
    <div class="fade-area" "id="cu-image-5" style="display: none;">
      <%= image_tag 'n-E_cus.jpg' %>
    </div>
    <div class="fade-area" "id="cu-image-6" style="display: none;">
      <%= image_tag 'n-encompassed2_cus.jpg' %>
    </div>
    <div class="fade-area" "id="cu-image-7" style="display: none;">
      <%= image_tag 'n-holdingon2_cus.jpg' %>
    </div>
    <div class="fade-area" "id="cu-image-8" style="display: none;">
      <%= image_tag 'n-holdingon3_cus.jpg' %>
    </div>
    <div class="fade-area" "id="cu-image-9" style="display: none;">
      <%= image_tag 'n-intergalactic2_cus.jpg' %>
    </div>
    <div class="fade-area" "id="cu-image-10" style="display: none;">
      <%= image_tag 'n-journey_cus.jpg' %>
    </div>
    <div class="fade-area" "id="cu-image-11" style="display: none;">
      <%= image_tag 'n-makingamark2_cus.jpg' %>
    </div>
    <div class="fade-area" "id="cu-image-12" style="display: none;">
      <%= image_tag 'n-miro_cus.jpg' %>
    </div>
    <div class="fade-area" "id="cu-image-13" style="display: none;">
      <%= image_tag 'n-natureswindow2_cus.jpg' %>
    </div>
    <div class="fade-area" "id="cu-image-14" style="display: none;">
      <%= image_tag 'n-pinball_cus.jpg' %>
    </div>
    <div class="fade-area" "id="cu-image-15" style="display: none;">
      <%= image_tag 'n-puzzle-quartz2_cus.jpg' %>
    </div>
    <div class="fade-area" "id="cu-image-16" style="display: none;">
      <%= image_tag 'n-puzzle-redtear_cus.jpg' %>
    </div>
    <div class="fade-area" "id="cu-image-17" style="display: none;">
      <%= image_tag 'n-puzzleturquoise2_cus.jpg' %>
    </div>
    <div class="fade-area" "id="cu-image-18" style="display: none;">
      <%= image_tag 'n-shell_cus.jpg' %>
    </div>
    <div class="fade-area" "id="cu-image-19" style="display: none;">
      <%= image_tag 'n-shellgame2_cus.jpg' %>
    </div>
    <div class="fade-area" "id="cu-image-20" style="display: none;">
      <%= image_tag 'n-spinners_cus.jpg' %>
    </div>
    <div class="fade-area" "id="cu-image-21" style="display: none;">
      <%= image_tag 'n-spinningspokes_cus.jpg' %>
    </div>
    <div class="fade-area" "id="cu-image-22" style="display: none;">
      <%= image_tag 'n-thecopperpaisley2_cus.jpg' %>
    </div>
    <div class="fade-area" "id="cu-image-23" style="display: none;">
      <%= image_tag 'n-windowout_cus.jpg' %>
    </div>
    <div class="fade-area" "id="cu-image-24" style="display: none;">
      <%= image_tag 'r-brilliant_cus.jpg' %>
    </div>
    <div class="fade-area" "id="cu-image-25" style="display: none;">
      <%= image_tag 'r-circlesoncircles2_cus.jpg'  %>
    </div>
    <div class="fade-area" "id="cu-image-26" style="display: none;">
      <%= image_tag 'r-granite4_cus.jpg' %>
    </div>
    <div class="fade-area" "id="cu-image-27" style="display: none;">
      <%= image_tag 'e-cranes2_cus.jpg' %>
    </div>
  </div>
</div>
