<div id="index-wrapper">
  <div id="gallery">
    <div class="fade-area" id="image-1">
      <%= image_tag 'e-bubbles-home.jpg', :style => "class:output;" %>
    </div>
    <div class="fade-area" id="image-2" style="display: none;">
      <%= image_tag 'e-branches2-home.jpg', :style => "class:output;" %>
    </div>
    <div class="fade-area" id="image-3" style="display: none;">
      <%= image_tag 'e-peekaboos2-home.jpg', :style => "class:output;" %>
    </div>
    <div class="fade-area" id="image-4" style="display: none;">
      <%= image_tag 'n-horizon4-home.jpg', :style => "class:output;" %>
    </div>
    <div class="fade-area" id="image-5" style="display: none;">
      <%= image_tag 'n-circlesoncircles-home.jpg', :style => "class:output;" %>
    </div>
    <div class="fade-area" id="image-6" style="display: none;">
      <%= image_tag 'n-cometogether-home.jpg', :style => "class:output;" %>
    </div>
    <div class="fade-area" id="image-7" style="display: none;">
      <%= image_tag 'r-roundturquoisestacked-home.jpg', :style => "class:output;" %>
    </div>
    <div class="fade-area" id="image-8" style="display: none;">
      <%= image_tag 'r-brasswindow2-home.jpg', :style => "class:output;" %>
    </div>
    <div class="fade-area" id="image-9" style="display: none;">
      <%= image_tag 'e-holeinone2-home.jpg', :style => "class:output;" %>
    </div>
    <div class="fade-area" id="image-10" style="display: none;">
      <%= image_tag 'n-getinline-home.jpg', :style => "class:output;" %>
    </div>
  </div>
</div>
