<div id="locations-wrapper">
  <%= image_tag 'locationsframe.png' %>
  <div id="locations-text">
<p>rosemary dudley designs is for sale at the following outstanding shops and galleries:

</p><p>My studio: <br />
411 26th Street<br />(between Telegraph and Broadway)<br />Oakland, CA<br />
Call to set up an appointment<br />(510) 463-1660

</p>
<p>
  <%= link_to 'The Mission Statement',
      'http://www.missionstatementsf.com',
      :target => 'blank' %><br />
3458 18th Street<br />
San Francisco, CA<br />
</p>
<p>
  <%= link_to 'ACCI Gallery',
      'http://www.accigallery.com',
      :target => 'blank' %><br />
1652 Shattuck Avenue<br />
Berkeley, CA<br />
</p>
<p>
  <%= link_to 'Thousand Oaks Art Gallery',
      'http://www.1000oaksartgallery.com',
      :target => 'blank' %><br />
886 Colusa Avenue<br />
Berkeley, CA<br />
</p>
<p>
  <%= link_to 'Modern Mouse',
      'http://www.modernmousegifts.com',
      :target => 'blank' %><br />
2228 South Shore Center<br />
Alameda, CA<br />
</p>
<p>
<a href="http://www.facebook.com/pages/Emeryville-CA/rosemary-dudley-designs/267005290112" target="_blank" title="rosemary dudley designs">For information on upcoming sales events, <span class="style-red">visit my Facebook page.</span></a>
</p>
  </div>
</div>
